<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header">Angular 9 Template-Driven Form Validation</h5>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-3">
                <label>Age</label>
                <input id='Q.5.2-input' type="number" name="age" class="form-control" [(ngModel)]="value" #age="ngModel"
                    [ngClass]="{ 'is-invalid': age.invalid && (age.dirty || age.touched) }" required [min]="18" [max]="60">
                <div *ngIf="age.invalid" class="invalid-feedback">
                    <div *ngIf="age.errors.required">Age is required</div>
                    <div *ngIf="age.errors.min">Age must be older than 18</div>
                    <div *ngIf="age.errors.max">Age must be younger than 60</div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mr-1" (click)="onClick()">Register</button>
            <button class="btn btn-secondary" type="reset">Cancel</button>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="#" target="_top">Angular 9 - Template-Driven Forms Validation Example</a>
    </p>
    <p>
        <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>